body{
    margin: 0px;
    background-color: rgb(20, 20, 20);
    font-family: sans-serif;
}

.index-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: black;
    width: 65%;
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.index-box #logo{
    width: 160px;
    margin: 30px auto;
}

.index-box p{
    color: white;
    font-size: 25px;
    font-weight: 700;
    margin: 15px auto;
    /* margin-top: 12px; */
}

.button{
    display: block;
    margin: 30px;
    margin-top: 0px;
    text-align: center;
    padding: 7px 30px;
    color: #006eff;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #006eff;
}

.button:hover{
    background-color: #006eff;
    color: white;
}

.form-buttons button{
    display: block;
    margin: 10px;
    text-align: center;
    padding: 7px 30px;
    color: white;
    background-color: #006eff;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
}

.form-buttons button:hover{
    background-color:#005ad0;
}

.form-buttons{
    display: flex;
    justify-content: space-evenly;
}

.form-buttons .button{
    margin: 10px;
}

.form-buttons .button:hover{
    background-color: white;
    color: #005ad0;
}

.form-bar{
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
}

.form-bar input{
    background-color:rgb(37, 37, 37);
    color: white;
    width: 60%;
    height: 40px;
    margin: 15px auto;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 10px;
    font-size: 16px;
}